:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

#root {
  display: contents;
}

body {
  background-color: var(--mantine-color-body);
  font-weight: 700;
  min-height: 100vh;
  min-width: 320px;
  overscroll-behavior-y: none;
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/ProximaNova-Black.woff2') format('woff2'),
      url('/fonts/ProximaNova-Black.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/ProximaNova-Light.woff2') format('woff2'),
      url('/fonts/ProximaNova-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/ProximaNova-Semibold.woff2') format('woff2'),
      url('/fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
      url('/fonts/ProximaNovaT-Thin.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ProximaNova-Bold.woff2') format('woff2'),
      url('/fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
      url('/fonts/ProximaNova-Extrabld.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('/fonts/ProximaNova-Regular.woff') format('woff');
}
