:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

#root {
  display: contents;
}
/* TODO: find a way to keep the storybook classes in preview-head.htmls */
body.dark:has(> div#storybook-docs[hidden="true"]) {
  background: var(--mantine-color-body);
}

body.light:has(> div#storybook-docs[hidden="true"]) {
  background: var(--mantine-color-body);
}

*[data-mantine-color-scheme="dark"] .docs-story,
*[data-mantine-color-scheme="dark"] body {
  --mantine-color-body: #242424;
}

*[data-mantine-color-scheme="light"] .docs-story,
*[data-mantine-color-scheme="light"] body {
  --mantine-color-body: #fff;
}

.docs-story {
  background-color: var(--mantine-color-body);
}

body {
  font-weight: 600;
  min-height: 100vh;
  min-width: 320px;
  overscroll-behavior-y: none;
}